

header{
    background-color: rgb(63, 63, 63);
    color: rgb(63, 63, 63);
    height: 150px;
    padding: auto;
    margin: auto;
    border: 0;
    /* display: inline-block;     */

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header div{
    background-color: rgb(85, 129, 129);
    width: 25%;
    text-align: right;
    display: inline-block;
    
}

header span{
    
    text-align: right;

}

header ul{
    
    
}

header span ul li{
    display:inline-block;
    
}

header a{
    text-decoration: underline;
    font-size: 30px;
   font-weight: bold;
    color:rgb(85, 129, 129) ;
    padding: 10px;
    margin: 20px;
    
}





/* 
#subtitle{
    display:flex;
}

*/ 

#subtitle img{
    height: 400px;
    width: 100%;
}

/*





body{
    margin: 0;
    padding: 0;
}

#aboutMe{
    display:flex ;
}

#aboutMe div{
    padding: 10px;
}

#aboutMe span{
    padding: 10px;
}

#myWorks{
    display: flex;
}

#myWorks nav{
    padding: 10px;
}

#myWorks span{
    display:flex;
}

#contactMe{
    display: flex;
}

#contactMe span{
    
    justify-content: space-around;
    
}

#contactMe ul{
    list-style-type: none;
    display:inline-block
} */
