header{
    background-color: rgb(63, 63, 63);
    color: rgb(63, 63, 63);
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

body{
    margin: 0;
}

header div{
    background-color: rgb(85, 129, 129);
    width: 25%;
}


header span ul li{
    display:inline-block;
}

header a{
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;
    color:rgb(85, 129, 129) ;
    padding: 8px;
    
}

#subtitle{
    position:relative;

}

#subtitle div{
    position:absolute;
    bottom: 20px;
    right: 20px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgb(85, 129, 129);
}

#subtitle img{
    height: 400px;
    width: 100%;
}





.column {
    float: left;
    padding: 10px;
    height: 300px; 

}

/* Left column */
.column.side {
    width: 20%;
    text-align: end;
    border-right: solid rgb(85, 129, 129);
    padding: 10px;
}
  
/* Right column */
.column.middle {
    width: 70%;
    margin-left: 15px;

}

/* about me side bar */
#aboutMe-Side{
    height: 140px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
}

/* about me main bar */
#aboutMe-Middle{
    height: 140px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#aboutMe p{
    margin-top: 10px;
    margin-bottom: 10px;
}

#aboutMe h2{
    padding-top: 5px;

}











.footer{
   height: 50px;     
}



@media (max-width: 600px) {
    .column.side, .column.middle {
      width: 100%;
    }

