header{
    background-color: midnightblue;
    color:white;
    height: 150px;
    padding: 0;
    margin: 0;
    border: 0;
}

header div{
    background-color: rgb(0, 124, 124);
    width: 25%;
    text-align: right;
}

body{
    margin: 0;
    padding: 0;
}

.navBar{
    height: 10%;
    background-color: rgb(0, 124, 124);
    text-align: right;
    
}

section nav a{
    color: white;
    text-decoration: none;
    
}

/* footer{ }*/
    

